@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates&family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-text text-secondary antialiased overflow-x-hidden;
  }

  h1,
  .h1 {
    @apply text-3xl sm:text-[34px];
  }
  h2,
  .h2 {
    @apply text-[24px] sm:text-[28px];
  }
  h3,
  .h3 {
    @apply text-2xl sm:text-[24px];
  }
  h4,
  .h4 {
    @apply text-xl sm:text-[20px];
  }
  h5,
  .h5 {
    @apply text-lg sm:text-[18px];
  }
  h6,
  .h6 {
    @apply text-base sm:text-[16px];
  }

  a,
  button {
    @apply font-text focus:border-none outline-dashed outline-transparent outline-1 focus-visible:outline-primary;
  }

  input {
    @apply outline-none appearance-none rounded-none;
  }
}
